In [1]:
import numpy as np

In [2]:
import pandas as pd

In [40]:
lst = [23,21,3,44]

In [41]:
pd.Series(lst)

0    23
1    21
2     3
3    44
dtype: int64

In [42]:
arr = np.array([16,2,63,46])

In [43]:
pd.Series(arr)

0    16
1     2
2    63
3    46
dtype: int32

In [44]:
dic = {0:'a',1:'b',2:'c',3:'d'}

In [45]:
pd.Series(dic)

0    a
1    b
2    c
3    d
dtype: object

In [46]:
pd.Series(arr,lst)

23    16
21     2
3     63
44    46
dtype: int32

In [47]:
pd.Series(data = dic,index = arr)

16    NaN
2       c
63    NaN
46    NaN
dtype: object

In [48]:
s1 = pd.Series([1,2,3,4],['USA','USSR','JAPAN','ITLY'])

In [49]:
s1

USA      1
USSR     2
JAPAN    3
ITLY     4
dtype: int64

In [55]:
s2 = pd.Series([1,2,4,5,6],['USA','USSR','ITLY','INDIA','FRANCE'])

In [56]:
s2

USA       1
USSR      2
ITLY      4
INDIA     5
FRANCE    6
dtype: int64

In [57]:
s1+s2

FRANCE    NaN
INDIA     NaN
ITLY      8.0
JAPAN     NaN
USA       2.0
USSR      4.0
dtype: float64

In [58]:
s1['USA']

1